h1 {
    color:#00be10;
    font-size:130%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}

h2 {
    color:#ba0010;
    font-style:inherit;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main_heading {
    text-align:center;
}
.body {
    text-align:center;
}
table, th, td {
    border: 1px solid black;
    
}
